
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/navbar.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/footer.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Document</title>


</head>
<body>

    <div class="global-container">
        <header>
    
            <div class="header-logo">
                <img src="assets/logo/primary-logo.jpg" alt="logo">
            </div>

            <nav>

                <label for="menu-toggle" class="menu-btn" >
                    <i class="material-icons">menu</i>
                    <span>Menú</span>
                </label>

                <input type="checkbox" id="menu-toggle" hidden>

                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Ver Cartelera</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Crea una cuenta</a></li>
                </ul>
                
            </nav>
            
            <button class="login-btn">Iniciar Sesión</button>
            
        </header>

        <body>
            
        </body>
    </div>
</body>
</html>